// 强制覆盖样式

.vux-header,
.vux-tab-wrap{
  z-index: 100;
}


// 长actionsheet可滚动
.weui-actionsheet{
  height: 80%;
  overflow: auto;
}

.weui-actionsheet__menu{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// 设置spinner颜色
.vux-spinner{
  stroke: @theme !important;
  fill: @theme !important;
}

// 设置spinner颜色
.vux-spinner svg{
  @size: 40px;
  width: @size !important;
  height: @size !important;
}

.vux-selector{
  .weui-select{
    direction: rtl;
    font-size: 17px;
    color: #999;
    margin-left: 1px;
    font-family: '\5FAE\8F6F\96C5\9ED1', 'Droid Sans Fallback';
  }
}